body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

.topbar {
  background: #1f2937;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

nav a.active {
  text-decoration: underline;
}

.badge {
  background: #ef4444;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
}

.container {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button.secondary {
  background: #9ca3af;
}

button.danger {
  background: #ef4444;
  color: white;
  font-size: 18px;
  padding: 8px 6px;

}

.cart-item {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.cart-actions button {
  margin-left: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.status {
  margin-top: 20px;
  padding: 15px;
  background: #eef2ff;
  border-radius: 8px;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-5px, 5px); }
  40% { transform: translate(5px, -5px); }
  60% { transform: translate(-5px, -5px); }
  80% { transform: translate(5px, 5px); }
  100% { transform: translate(0, 0); }
}

body.meme-shake {
  animation: shake 0.15s infinite;
}

.rainbow-bar {
  position: fixed;
  width: 100%;
  height: 25px;
  left: 0;
  background: linear-gradient(
    90deg,
    red, orange, yellow, green, cyan, blue, violet
  );
  z-index: 9999;
  animation: slide 1s linear infinite;
}

@keyframes slide {
  from { background-position: 0% }
  to { background-position: 200% }
}

.hand {
  position: fixed;
  bottom: 0;
  image-rendering: pixelated;
  z-index: 10000;
  pointer-events: none;
}

.hand.left {
  left: 20px;
  width: 340px;
  height: 340px;
  animation: leftHandMove 0.6s infinite ease-in-out;
}

.hand.right {
  right: 20px;
  width: 340px;
  height: 340px;
  animation: rightHandMove 0.6s infinite ease-in-out;
}

@keyframes leftHandMove {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-180px); }
  100% { transform: translateY(0); }
}

@keyframes rightHandMove {
  0%   { transform: translateY(-180px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(-180px); }
}


